on init
     # ltr553 light
    chown system system /sys/class/sensors/ltr553_light/calibrate
    chown system system /sys/class/sensors/ltr553_light/enable
    chown system system /sys/class/sensors/ltr553_light/enable_wakeup
    chown system system /sys/class/sensors/ltr553_light/flush
    chown system system /sys/class/sensors/ltr553_light/max_latency
    chown system system /sys/class/sensors/ltr553_light/poll_delay
    chmod 0664 /sys/class/sensors/ltr553_light/calibrate
    chmod 0664 /sys/class/sensors/ltr553_light/enable
    chmod 0664 /sys/class/sensors/ltr553_light/enable_wakeup
    chmod 0664 /sys/class/sensors/ltr553_light/flush
    chmod 0664 /sys/class/sensors/ltr553_light/max_latency
    chmod 0664 /sys/class/sensors/ltr553_light/poll_delay

    # ltr553 proximity
    chown system system /sys/class/sensors/ltr553_proximity/calibrate
    chown system system /sys/class/sensors/ltr553_proximity/enable
    chown system system /sys/class/sensors/ltr553_proximity/enable_wakeup
    chown system system /sys/class/sensors/ltr553_proximity/flush
    chown system system /sys/class/sensors/ltr553_proximity/max_latency
    chown system system /sys/class/sensors/ltr553_proximity/poll_delay
    chmod 0664 /sys/class/sensors/ltr553_proximity/calibrate
    chmod 0664 /sys/class/sensors/ltr553_proximity/enable
    chmod 0664 /sys/class/sensors/ltr553_proximity/enable_wakeup
    chmod 0664 /sys/class/sensors/ltr553_proximity/flush
    chmod 0664 /sys/class/sensors/ltr553_proximity/max_latency
    chmod 0664 /sys/class/sensors/ltr553_proximity/poll_delay

    # Accelerator
    chown system system /sys/class/sensors/lsm6ds3_accelerometer/calibrate
    chown system system /sys/class/sensors/lsm6ds3_accelerometer/enable
    chown system system /sys/class/sensors/lsm6ds3_accelerometer/enable_wakeup
    chown system system /sys/class/sensors/lsm6ds3_accelerometer/flush
    chown system system /sys/class/sensors/lsm6ds3_accelerometer/max_latency
    chown system system /sys/class/sensors/lsm6ds3_accelerometer/poll_delay
    chmod 0664 /sys/class/sensors/lsm6ds3_accelerometer/calibrate
    chmod 0664 /sys/class/sensors/lsm6ds3_accelerometer/enable
    chmod 0664 /sys/class/sensors/lsm6ds3_accelerometer/enable_wakeup
    chmod 0664 /sys/class/sensors/lsm6ds3_accelerometer/flush
    chmod 0664 /sys/class/sensors/lsm6ds3_accelerometer/max_latency
    chmod 0664 /sys/class/sensors/lsm6ds3_accelerometer/poll_delay

    # Gyroscope
    chown system system /sys/class/sensors/lsm6ds3_gyroscope/calibrate
    chown system system /sys/class/sensors/lsm6ds3_gyroscope/enable
    chown system system /sys/class/sensors/lsm6ds3_gyroscope/enable_wakeup
    chown system system /sys/class/sensors/lsm6ds3_gyroscope/flush
    chown system system /sys/class/sensors/lsm6ds3_gyroscope/max_latency
    chown system system /sys/class/sensors/lsm6ds3_gyroscope/poll_delay
    chmod 0664 /sys/class/sensors/lsm6ds3_gyroscope/calibrate
    chmod 0664 /sys/class/sensors/lsm6ds3_gyroscope/enable
    chmod 0664 /sys/class/sensors/lsm6ds3_gyroscope/enable_wakeup
    chmod 0664 /sys/class/sensors/lsm6ds3_gyroscope/flush
    chmod 0664 /sys/class/sensors/lsm6ds3_gyroscope/max_latency
    chmod 0664 /sys/class/sensors/lsm6ds3_gyroscope/poll_delay

service sensors-hal-1-0 /vendor/bin/hw/android.hardware.sensors@1.0-service.mobee01a
    class hal
    user system
    group system input wakelock
    capabilities BLOCK_SUSPEND SYS_NICE
